1. Create a pandas DataFrame 'df' which is filled with the values from 'islands',
has 'names1' as columns and 
'names2' as row label. 
Name the rows 'continents' and 
the columns 'categories'.

In [1]:
import pandas as pd
import numpy as np

islands = {'Insel':['Kap Verde','Kap Verde','Kap Verde','Fidschi','Fidschi','Fidschi','Skye','Skye','Skye'],
        'Year':[2005,2010,2015,2005,2010,2015,2005,2010,2015],
        'Population':[471000,509000,546000,837000,876000,910000,10300,10500,10800],
        'Capital':['Praia','Praia','Praia','Suva','Suva','Suva','Portree','Portree','Portree'],
        'Tourists':[1312,1231,5623,5423,5421,4355,4532,2345,3342]}
names1 = ['Island','Year','Population','Capital','Tourists']
names2 = ['Afrika','Afrika','Afrika','Australia','Australia','Australia', 'Europe','Europe','Europe']

2. Print the column and row labels

3. Check if 'timezone' is a column in 'df'

4. Check if 'Australia' can be found in the rows

5. Create a pandas Series 'ser' with values from 0 to 9 and the with the index 'a' to 'j'. Filter the series for the index 'f'. Try accessing the element on two ways.

6. Print the values four to seven from 'ser'

7. Print the values of the indexes 'e','i','c' and 'j'

8. Print the values 'g' to 'i'

9. Print all values that are greater than 6

10. Replace the values with the index 'b' to 'e' with the numbers '10' to '13'

11. Print the columns 'one' and 'four' from the dataframe 'df'

In [5]:
df = pd.DataFrame(np.random.randint(1, 81 ,16).reshape((4,4)),index =['Kap Verde', 'Fidschi', 'Skye', 'Hawaii'], 
                     columns=['one','two','three','four'])

12. Only print the Rows which have values greater than 30 in column 'two'

13. Create a boolean table which returns True for values greater than '10'

14. Print the element from 'df' that is in row 'Fidschi' and in column 'four'

15. Print all elements of 'df' that are in the rows 'Fidschi' and 'Skye' and in the columns 'one' and 'four'

16. Print all elements of 'df' in row 1 and 2 and in column 0 and 3

17. Sort 'df' after the row index

18. Sort 'df' after the column index

19. Sort 'df' after the values in column 'three'

20. Sort 'df' first after the values in colum 'three' and then after column 'one'

21. Add 'frame1' and 'frame2'. Check the 'NaN'-Values

In [7]:
frame1 = pd.DataFrame(np.arange(9).reshape((3,3)),columns=list('bcd'),index=['Skye', 'Fidschi', 'Hawaii'])

frame2 = pd.DataFrame(np.arange(9).reshape((3,3)),columns=list('bcd'),index=['Skye', 'Kap Verde', 'Fidschi'])

             b     c     d
Fidschi    9.0  11.0  13.0
Hawaii     NaN   NaN   NaN
Kap Verde  NaN   NaN   NaN
Skye       0.0   2.0   4.0

22. Add the two dataframes using the add() function and fill missing values with '0' and save it in 'frame3'

             b     c     d
Fidschi    9.0  11.0  13.0
Hawaii     6.0   7.0   8.0
Kap Verde  3.0   4.0   5.0
Skye       0.0   2.0   4.0

23. Subtract the row with the index 'Fidschi' from 'frame3' from all elements in 'frame3' and save it in 'frame4'

24. Convert all values of 'frame5' to positive numbers

In [9]:
frame5 = pd.DataFrame({'a':[0.234,-1.432,6.753,-9.653],'b':[2.521,-4.349,5.323,4.024],'c':[0.231,-0.986,3.821,-7.424]}
                      , index=['one','two','three','four'])

25. Apply function f on all rows in 'frame6'

In [ ]:
frame6 = pd.DataFrame({'a':[1,2,3,4],'b':[2,2,2,2],'c':[3,3,3,3]}, index=['eins','zwei','drei','vier'])

f = lambda x: x - 2

26. Import the CSV file 'AppBewertungen.csv' as a dataframe.

27. Import the CSV file 'AppBewertungen.csv' as a dataframe and ignore the header.

28. Import the CSV file 'AppBewertungen.csv' and set the column 'Datum' as the index